* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div,
p,
span {
  color: white;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))) center no-repeat, url(../images/bg.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) center no-repeat, url(../images/bg.jpg);
}

.app-child-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.app {
  height: 40em;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.app-child-left {
  -webkit-box-align: stretch !important;
      -ms-flex-align: stretch !important;
          align-items: stretch !important;
}

.time {
  font-size: 8rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.greet {
  font-size: 2.7rem;
  line-height: 2rem;
  margin-top: -1rem;
}

.temp {
  font-size: 4.7rem;
  font-weight: 500;
}

.temp-c {
  font-size: 4rem;
}

.weather-location {
  font-size: 1.7rem;
  margin-top: -1.3rem;
}

.notes-widget {
  background: white;
  height: 450px;
  width: 50em;
  margin-top: 2.85rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote {
  font-size: 1.1rem;
  width: 700px;
  text-align: center;
}

.greet-name {
  font-size: 2.7rem;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background: none;
  border: none;
  outline: none;
  color: white;
  text-transform: capitalize;
}

.greet-name::-webkit-input-placeholder {
  color: #b9b9b9;
}

.greet-name:-ms-input-placeholder {
  color: #b9b9b9;
}

.greet-name::-ms-input-placeholder {
  color: #b9b9b9;
}

.greet-name::placeholder {
  color: #b9b9b9;
}

.input-hover {
  cursor: pointer;
}

.notes-section-left {
  width: 40em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notes-section-left .editor {
  width: 100%;
  height: 85%;
  overflow-y: scroll;
}

.notes-section-left .editor .note-heading {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  font-weight: 500;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  border-bottom: 1px solid #a3a3a3;
}

.notes-section-left .editor .note-content {
  color: black;
  padding: 0.5rem 1rem 2rem 1rem;
  outline: none;
  font-size: 1.1rem;
}

.notes-section-left .options {
  height: 15%;
  width: 100%;
  border-top: 1px solid #a3a3a3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

.notes-section-left .options .btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 14rem;
}

.notes-section-left .options .btn-list .options-btn {
  background: #979797;
  border: none;
  color: white;
  font-size: 1.4rem;
  width: 40px;
  height: 40px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  outline: none;
}

.notes-section-left .options .btn-list .bold {
  font-weight: 600;
}

.notes-section-left .options .btn-list .italic {
  font-family: serif;
  font-style: italic;
  font-weight: 500;
}

.notes-section-left .options .btn-list .underline {
  text-decoration: underline;
}

.notes-section-left .options .btn-list .striked {
  text-decoration: line-through;
  font-weight: 300;
}

.notes-section-left .options .btn-list .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notes-section-left .options .btn-list .list img {
  pointer-events: none;
}

.notes-section-right {
  height: 100%;
  width: 15em;
  background: #ededed;
}

.active {
  background: #525252 0 !important;
}
/*# sourceMappingURL=styles.css.map */