* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div,
p,
span {
  color: white;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))) center no-repeat, url(../images/bg.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) center no-repeat, url(../images/bg.jpg);
}

.app-child-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.app {
  height: 40em;
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.app-child-left {
  -webkit-box-align: stretch !important;
      -ms-flex-align: stretch !important;
          align-items: stretch !important;
}

.time {
  font-size: 8rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.greet {
  font-size: 2.7rem;
  line-height: 2.8rem;
  margin-top: -2rem;
}

.temp {
  font-size: 4.7rem;
  font-weight: 500;
}

.temp-c {
  font-size: 4rem;
}

.weather-location {
  font-size: 1.7rem;
  margin-top: -1.3rem;
}

.notes-widget {
  background: white;
  height: 450px;
  width: 45em;
  margin-top: 2.85rem;
}

.quote {
  font-size: 1.1rem;
  width: 700px;
  text-align: center;
}

.greet-name {
  font-size: 2.7rem;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background: none;
  border: none;
  outline: none;
  color: white;
  text-transform: capitalize;
}

.greet-name::-webkit-input-placeholder {
  color: #b9b9b9;
}

.greet-name:-ms-input-placeholder {
  color: #b9b9b9;
}

.greet-name::-ms-input-placeholder {
  color: #b9b9b9;
}

.greet-name::placeholder {
  color: #b9b9b9;
}

.input-hover {
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */